table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    background-color:white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
}
h1{
    text-align: center;
}
h3{
    color: rgb(29, 29, 104);
}
th{
    background-color:rgb(187, 182, 182);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
}
.delete-btn{
    background-color: rgb(224, 146, 146);
    padding: auto;
}
.edit-btn{
    background-color: rgb(163, 232, 241);
    padding: auto;     
}